# Application Configuration
NODE_ENV=development
PORT=5000
PROJECT_NAME="Danza ERP"
API_VERSION=v1

# Database Configuration
MONGODB_URI=mongodb://jeelahir:Jeel005@ac-xjq71kt-shard-00-00.wjtx40x.mongodb.net:27017,ac-xjq71kt-shard-00-01.wjtx40x.mongodb.net:27017,ac-xjq71kt-shard-00-02.wjtx40x.mongodb.net:27017/danza_erp_project?ssl=true&replicaSet=atlas-ruk90m-shard-0&authSource=admin&appName=Cluster0

# Authentication / Security
JWT_SECRET=replace_with_a_secure_jwt_secret_key_minimum_32_chars
JWT_EXPIRES_IN=7d

# CORS Configuration
CORS_ORIGIN=http://localhost:5173
